# Виртуальное окружение
venv/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log

# IDE (VS Code, PyCharm и др.)
.vscode/
.idea/

# macOS
.DS_Store

# Файлы проекта
*.sqlite3
*.db
*.csv
*.json
*.bak
*.tmp

# Byte-compiled / optimized / DLL files
*.egg-info/
*.eggs/
*.pkl
*.pickle

# dist/ build/ при сборке пакетов
dist/
build/
